/* Sort */
@import './103-sort_list.scss';

$sortedlist: ();

@while length($list_to_sort) > 0 {
    $value: nth($list_to_sort, 1);
    @each $item in $list_to_sort {
    @if $item < $value {
        $value: $item;
    }
    }
    $sortedlist: append($sortedlist, $value, comma);
    $list_to_sort: remove($list_to_sort, index($list_to_sort, $value));
}

@debug $sortedlist;
